@import url('https://fonts.googleapis.com/css?family=Pacifico');
:root{
   --main:#c9c1ac;
}
body{
   font-family: 'Pacifico', cursive;
   margin: 0;
   padding: 0;
  

}

.info{
    background-color: #c9c1ac;
    
}
.primary-color{
    color:#d3325f;
}

.primary-color{
    transition: color .6s ease-in-out;

}
.primary-color:hover{
    color:black;
}

#header{
background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),
 url('./images/three.jpeg') no-repeat fixed center center / cover;
height: calc(100vh - 90px);
width: 100%;
position: relative;
}

.height{
    height: calc(100vh - 90px);
}

.banner h1{
    border-top: 3px dotted #c9c1ac;
    border-bottom: 3px dotted #c9c1ac;
    cursor: pointer;
    font-size: 7rem;
    cursor: normal;
    animation-name: zoom;
    animation-duration: 5s;
}
.header-link{
    position: absolute;
    font-size: 1rem;
    background-color: var(--main);
    bottom: 8%;
    left:47%;
    width: 70px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    display: inline-block;
    animation-name: infine;
    animation-duration: 20s;
    animation-iteration-count: infinite;
 
}


@keyframes infine{
    0%{
        transform: translateY(-15px);
      
    }
    50%{
        transform: translateY(15px)

    }
    100%{
        transform: translateY(-15px)
    }
}
@keyframes zoom2{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    50%{
        transform: translateX(-30px)

    }
    100%{
        transform: translateX(0)
    }
}

@keyframes zoom{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    50%{
        transform: translateX(30px)

    }
    100%{
        transform: translateX(0)
    }
}

small{
    color:#c9c1ac
}

.main-btn{
    color:#d3325f;
    font-size: 2rem;
    border:2px solid #d3325f;
    transition: all .5s ease-in-out;
    padding: .6rem 1rem;
    cursor: pointer;
    animation-name: zoom2;
    animation-duration: 5s;
}

.main-btn:hover{
    background-color: #c9c1ac;
    color:#d3325f;
}



