@import url('https://fonts.googleapis.com/css?family=Pacifico');
:root{
   --main:#c9c1ac;
   --primary-color:#d3325f;
}
body{
   font-family: 'Pacifico', cursive;
   margin: 0;
   padding: 0;
  

}

html{
    scroll-behavior: smooth;
}

.info{
    background-color: #c9c1ac;
    
}
.primary-color{
    color:#d3325f;
}

.primary-color{
    transition: color .6s ease-in-out;

}
.primary-color:hover{
    color:black;
}

#header{
background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),
 url('./images/three.jpeg') no-repeat fixed center center / cover;
height: calc(100vh - 90px);
width: 100%;
position: relative;
}

.height{
    height: calc(100vh - 90px);
}

.banner h1{
    border-top: 3px dotted #c9c1ac;
    border-bottom: 3px dotted #c9c1ac;
    cursor: pointer;
    font-size: 7rem;
    cursor: normal;
    animation-name: zoom;
    animation-duration: 5s;
}
.header-link{
    position: absolute;
    font-size: 1rem;
    background-color: var(--main);
    bottom: 8%;
    left:47%;
    width: 70px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    display: inline-block;
    animation-name: infine;
    animation-duration: 20s;
    animation-iteration-count: infinite;
 
}


@keyframes infine{
    0%{
        transform: translateY(-15px);
      
    }
    50%{
        transform: translateY(15px)

    }
    100%{
        transform: translateY(-15px)
    }
}
@keyframes zoom2{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    50%{
        transform: translateX(-30px)

    }
    100%{
        transform: translateX(0)
    }
}

@keyframes zoom{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    50%{
        transform: translateX(30px)

    }
    100%{
        transform: translateX(0)
    }
}

small{
    color:#c9c1ac
}

.main-btn{
    color:#d3325f;
    font-size: 2rem;
    border:2px solid #d3325f;
    transition: all .5s ease-in-out;
    padding: .6rem 1rem;
    cursor: pointer;
    animation-name: zoom2;
    animation-duration: 5s;
}

.main-btn:hover{
    background-color: #c9c1ac;
    color:#d3325f;
}


#special{
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
     url('./images/five.jpeg') no-repeat fixed center center / cover;
    width: 100%;
    position: relative;
    }
.item{
    position: relative;
    overflow: hidden;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    transition: all .7s ease-in-out;


}

.img{
    transition: all 1s ease-in-out;
    border: 5px solid white;
    
}

.item:hover .img{
    transform: scale(1.2);
    cursor: pointer;
    opacity: .5;
   
    
}

.item_link{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:var(--primary-color);
    font-size: 2rem;
    border-top: 3px solid #c9c1ac;
    border-bottom: 3px solid #c9c1ac;
    transition: all .5s ease-in-out;
    opacity: 0;
}


.item:hover .item_link{
    opacity: 1;
    
   
}

.item:hover {
    outline: 5px solid var(--primary-color);
    outline-offset: .8rem;

   
}

#about{

    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url('./images/ten.jpeg') no-repeat fixed center center / cover;
   width: 100%;
   position: relative;

}

.about{
    position: relative
}
.about-image{
    position: absolute;
    width: 250px;
    transition: all .7s ease-in-out;
    cursor: pointer;
}

.img-1{
    left: 0%;
    top: 0%;
}
.img-2{
    left: 50%;
    top: 0%;
}
.img-3{
    left: 25%;
    top: 20%;
    z-index: 10;
}
.img-4{
    left: 0%;
    top: 50%;
   
}
.img-5{
    left: 50%;
    top: 50%;
    z-index: 20;
   
}

.about-image:hover {
   outline: 9px solid var(--primary-color);
   outline-offset: .8rem;
   transform: scale(1.2) rotate(20deg);
   z-index: 30;
   opacity: 1;
}

.about:hover .about-image:not(:hover){

    opacity: 0.5;
}

#review{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url('./images/ten.jpeg') no-repeat fixed center center / cover;
   width: 100%;
   position: relative;
 
}

.review-item{
    background-color: rgba(255,255,255,.4);
    clip-path: polygon(5% 0,100% 0,90% 100%,0 100%);
    
}

.review-img{
    width: 200px;
}

.card img{
    min-width: 100%;
    height: 200px;
}

.review-item img{
    width: 200px;
    height: 150px;
}

#team{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url('./images/ten.jpeg') no-repeat fixed center center / cover;
   width: 100%;
   position: relative;

}

.face{
color:#3b5998;
}
.twi{
color: #38A1F3;
}

.inst{
color:#bc2a8d;
}
.yelp{
color:#c41200;
}

.card-footer a{
    transition: all .5s ease-in-out;
}

.card-footer a:hover{
    color:#242424;
    transform: translateY(-10px);
}
#contact{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url('./images/ten.jpeg') no-repeat fixed center center / cover;
   width: 100%;
   position: relative;
   
}

.height{
    height: 60vh;
}

#contact .card{
    background: rgba(0,0,0,0.5);
    transition: all 1s ease-in-out;
}

#contact .card:hover{
    background: rgba(0,0,0,0.8);
}

#contact .card .card-header{
    color: var(--primary-color)
}

.input-group-text{
    background: var(--primary-color);
    color:black;
    border-color: #d3325f;
}

.card input{
    color:#606060;
}

.card input::placeholder{
    color:#606060;
}

.contact-btn{
    color:var(--primary-color);
    border-color: var(--primary-color);
    transition: all .8s ease-in-out;
}

.contact-btn:hover{
background-color: #c9c1ac;

}



   










